@font-face { font-family: Delicious; src: url('./Protest_Riot/ProtestRiot-Regular.ttf'); } 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DE3163;
}

.header_text {
    font-family: 'Delicious';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
